@use "../settings" as setting;

.c-btn {
  font-size: setting.f-font-remsize(m);
  font-weight: setting.f-fontweight(b);
  line-height: setting.f-lineheight(m);
  letter-spacing: setting.f-letterspacing(m);
}
