@use "../settings" as setting;
@use "../tools" as tool;

.c-heading,
.c-sec-heading,
.c-ter-heading,
.c-qua-heading,
.c-qui-heading,
.c-sen-heading,
.c-display-2xl,
.c-display-xl,
.c-display-l,
.c-display-m,
.c-display-s,
.c-display-xs,
.c-display-2xs {
  font-weight: setting.fontweight(r);
  line-height: setting.lineheight(m);
  letter-spacing: setting.letterspacing(m);

  @include tool.max-screen(setting.$unders) {
    font-weight: setting.fontweight(m);
  }
}

.c-display-2xl,
.c-display-xl,
.c-heading,
.c-display-l {
  @include tool.min-screen(setting.$breaks) {
    line-height: setting.lineheight(s);
  }
}

.c-display-2xl {
  font-size: clamp(setting.fontRemsize(5xl), (setting.breakpoints(overs)), setting.fontRemsize(6xl));
}

.c-display-xl {
  font-size: clamp(setting.fontRemsize(4xl), (setting.breakpoints(overs)), setting.fontRemsize(5xl));
}

.c-heading,
.c-display-l {
  font-size: clamp(setting.fontRemsize(3xl), (setting.breakpoints(overs)), setting.fontRemsize(4xl));
}

.c-heading,
.c-sec-heading,
.c-entry h2 {
  margin-top: setting.spaceRem(2xl);

  & + * {
    margin-top: setting.spaceRem(l);
  }
}

.c-sec-heading,
.c-entry h2,
.c-display-m {
  font-size: clamp(setting.fontRemsize(2xl), (setting.breakpoints(overs)), setting.fontRemsize(3xl));
}

.c-ter-heading,
.c-entry h3,
.c-display-s {
  font-size: clamp(setting.fontRemsize(xl), (setting.breakpoints(overs)), setting.fontRemsize(2xl));
}

.c-ter-heading,
.c-entry h3 {
  margin-top: setting.spaceRem(xl);

  & + * {
    margin-top: setting.spaceRem(l);
  }
}

.c-qua-heading,
.c-display-xs {
  font-size: clamp(setting.fontRemsize(l), (setting.breakpoints(overs)), setting.fontRemsize(xl));
}

.c-qui-heading,
.c-display-2xs {
  font-size: clamp(setting.fontRemsize(m), (setting.breakpoints(overs)), setting.fontRemsize(l));

  @include tool.max-screen(setting.$unders) {
    line-height: setting.lineheight(l);
  }
}

.c-qua-heading,
.c-qui-heading {
  margin-top: setting.spaceRem(xl);

  & + * {
    margin-top: setting.spaceRem(m);
  }
}

.c-sen-heading {
  margin-top: setting.spaceRem(l);

  & + * {
    margin-top: setting.spaceRem(m);
  }
}
