@use "../settings" as setting;

.c-entry ul,
.c-disc-list {
  padding-left: setting.f-space-em(xl);
  list-style-position: outside;
  list-style-type: disc;
}

.c-count-list,
.c-entry ol {
  padding-left: setting.f-space-em(s);
  counter-set: primarycount;

  li {
    padding-left: calc((setting.f-space-em(s) * 3) + setting.f-space-em(xs));
    text-indent: calc(-1 * ((setting.f-space-em(s) * 3) + setting.f-space-em(xs)));
    counter-increment: primaryCount;

    &::before {
      margin-right: setting.f-space-em(xs);
      content: counter(primaryCount, decimal-leading-zero) ".";
    }
  }

  ol {
    padding-left: 0;
  }
}

.c-count-list--secondary,
.c-entry ol ol {
  counter-set: secondarycount;

  li {
    padding-left: calc((setting.f-space-em(s) * 4) + setting.f-space-em(xs));
    text-indent: calc(-1 * ((setting.f-space-em(s) * 4) + setting.f-space-em(xs)));
    counter-increment: SecondaryCount;

    &::before {
      margin-right: setting.f-space-em(xs);
      content: "(" counter(SecondaryCount, decimal-leading-zero) ")";
    }
  }
}
