@use "../settings" as setting;

.pager {
  gap: setting.f-space-px(s);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2em;
  height: 100%;
  padding: setting.f-space-px(s) setting.f-space-px(xs);
  font-family: setting.$font-family-en;
  font-weight: setting.f-fontweight(b);
  line-height: 1;
  color: var(--c-text-body);
  background: var(--c-bg-primary);
  border: solid 1px var(--c-textbody);
  transition: border-color 0.25s ease;

  &:visited {
    color: var(--c-text-visited);
    border-color: var(--c-text-visited);
  }

  &:hover,
  &:focus {
    border-color: var(--c-text-link);
    outline: 1px solid var(--c-border-focused);
  }
}
