@use "../settings" as setting;

.mf {
  width: 100%;

  &__mediaP {
    max-width: max(setting.breakpoints(underm), 35%);
  }

  &__mediaT {
    max-width: max(setting.breakpoints(underm), calc(65% - setting.spaces(n)));
  }
}

.mh {
  width: clamp(calc(50% - setting.spaces(n) * 0.5), (setting.breakpoints(unders)), 100%);
}

.mf__lh {
  max-width: max((setting.breakpoints(underm)), calc(50% - setting.spaces(n) * 0.5));
}

.mf__lt,
.mh__lt {
  max-width: max((setting.breakpoints(underm)), calc((100% - setting.spaces(n) * 2) / 3));
}

.mh__lq {
  max-width: max((setting.breakpoints(underl)), calc((100% - setting.spaces(n) * 3) / 4));
}
