@use "../settings" as setting;

.u-bg-base {
  background-color: var(--c-bg-primary);
}

.u-bg-white {
  background-color: var(--c-bg-qua);
}

.u-bg-secondary {
  color: var(--c-text-description);
  background: var(--c-bg-secondary);
}

.u-bg-overlay {
  color: var(--c-text-placeholder);
  background-color: var(--c-bg-tertiary);
}

.u-bg-brand {
  color: var(--c-text-on-fill);
  background-color: var(--c-brand-middle);
}
