@use "../settings" as setting;

.o-cluster {
  display: flex;
  flex-wrap: wrap;
  gap: setting.f-space-px(m);

  &--center {
    justify-content: center;
  }

  &--middle {
    align-items: center;
  }
}
