@use "../settings" as setting;

.o-center {
  box-sizing: content-box;
  padding-right: clamp(clamp(setting.spacePx(m),setting.breakpoints(overm),setting.spacePx(xl)),setting.breakpoints(overs),clamp(setting.spacePx(xl),setting.breakpoints(overm),setting.spacePx(3xl)));
  padding-left: clamp(clamp(setting.spacePx(m),setting.breakpoints(overm),setting.spacePx(xl)),setting.breakpoints(overs),clamp(setting.spacePx(xl),setting.breakpoints(overm),setting.spacePx(3xl)));
  margin-right: auto;
  margin-left: auto;

  &--content {
    max-width: setting.$contentWrapper;
  }
}
