@use "../settings" as setting;

.o-cover {
  display: flex;
  flex-direction: column;

  /* min-height: 100svh;
   * padding: setting.space(m);
   */
  & > * {
    margin-top: setting.f-space-px(m);
    margin-bottom: setting.f-space-px(m);
  }

  & > :first-child:not(.o-cover__middle) {
    margin-top: 0;
  }

  & > :last-child:not(.o-cover__middle) {
    margin-bottom: 0;
  }

  &__middle {
    margin-top: auto;
    margin-bottom: auto;
  }
}
