@use "../settings" as setting;
@use "../tools" as tool;

.o-frame {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: #{setting.aspect(wide)};
  overflow: hidden;

  &--square {
    aspect-ratio: #{setting.aspect(square)};
  }

  &--landscape {
    aspect-ratio: #{setting.aspect(landscape)};
  }

  &--standard {
    aspect-ratio: #{setting.aspect(standard)};
  }

  &--portrait {
    aspect-ratio: #{setting.aspect(portrait)};
  }

  &--upright {
    aspect-ratio: #{setting.aspect(upright)};
  }

  &--skyscraper {
    aspect-ratio: #{setting.aspect(skyscraper)};
  }

  &--switch-s {
    aspect-ratio: #{setting.aspect(landscape)};

    @include tool.portrait {
      aspect-ratio: #{setting.aspect(portrait)};
    }
  }

  &--switch-m {
    aspect-ratio: #{setting.aspect(standard)};

    @include tool.portrait {
      aspect-ratio: #{setting.aspect(upright)};
    }
  }

  &--switch-l {
    aspect-ratio: #{setting.aspect(wide)};

    @include tool.portrait {
      aspect-ratio: #{setting.aspect(skyscraper)};
    }
  }

  &--bordered {
    border: solid 1px var(--c-border);
  }

  &--no-color {
    > * {
      filter: grayscale(100%);
    }
  }

  > * {
    position: absolute;
    inset: 0;
    display: flex;
    place-items: center;
    overflow: hidden;
  }

  > source,
  > img,
  > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: transparent;
  }
}
