@use "../settings" as setting;

.o-icon-parent {
  display: inline-flex;
  gap: setting.f-space-em(s);
  align-items: baseline;
}

.o-icon {
  font-size: setting.f-font-emsize(2xs);
  line-height: setting.f-lineheight(none);
}
