@use "../settings" as setting;

.o-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: setting.f-space-px(l);

  &--gapL {
    gap: setting.f-space-px(xl);
  }

  &__narrow {
    flex-basis: 35%;
    flex-grow: 1;
  }

  &__wide {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
  }
}
