@use "../settings" as setting;

.o-switcher {
  display: flex;
  flex-wrap: wrap;
  gap: setting.spacePx(l);
  &--gapL {
    gap: setting.spacePx(xl);
  }

  & > * {
    flex-basis: calc((setting.$breakm - 100%) * 999);
    flex-grow: 1;
    max-width: 100%;
  }
}
