@use "../settings" as setting;

.o-stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @each $key, $name in setting.$spaces {
    &--#{$key} {
      & > * + * {
        margin-top: $name;
      }
    }
  }
}
