@use "../settings" as setting;

.o-sidebar {
  display: flex;
  flex-wrap: wrap;

  --gutter: #{setting.f-space-px(l)};

  gap: var(--gutter);

  &--gap-XL {
    --gutter: #{setting.f-space-px(xl)};
  }

  &--table {
    --gutter: 0;
  }

  &--bio {
    --gutter: #{setting.f-space-px(m)};
  }

  &__narrow,
  &__bio-pict,
  &__author-data {
    flex-grow: 1;
  }

  &__narrow {
    flex-basis: 35%;
  }

  &__bio-pict {
    flex-basis: 50px;
  }

  &__bio-data {
    min-width: calc(100% - 50px - var(--gutter));
  }

  &__author-pict {
    flex-basis: 100px;
  }

  &__author-data {
    flex-basis: setting.breakpoints(unders);
  }

  &__wide,
  &__bio-data {
    flex-basis: 0;
    flex-grow: 999;
  }

  &__wide {
    min-width: 50%;
  }
}
